{% extends "base.html" %}

{% load static wagtailcore_tags wagtailuserbar wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
<div class="leading-relaxed">
    <div class="flex items-center justify-center h-full">
    <div class="p-10">
        <div class=""> 
            <h1>
                <a href="/">Aleksandr Popov</a>
                /
                <a href="/posts">Posts</a>
                /
                <br>
                {{ page.title }}
            </h1>
            
            <p class="meta">{{ page.date }}</p>
            
                {{ page.body }}
            
            <hr/>
            <h3>
            <a href="{{ page.get_parent.url }}">Return to blog</a>
            </h3>
        </div>
    </div>
</div>
</div>
<footer></footer>
    {% comment %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>
    {{ page.body }}
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    
    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
    {% endif %}
    {% endcomment %}

{% endblock %}
